name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
    # Check out the code
    - name: Checkout code
      uses: actions/checkout@v2

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install flake8 pytest
        # Add other dependencies if needed

    # Run linters
    - name: Run linters
      run: |
        flake8 api/pizzaApi.py order_queue/queue_worker.py

    # Run pytest
    - name: Run tests
      run: |
        pytest api/test_pizzaApi.py order_queue/test_queue_worker.py

    # Set up Docker
    - name: Set up Docker
      uses: docker/setup-buildx-action@v1

    # Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build and push API Docker image
    - name: Build and push API image
      uses: docker/build-push-action@v2
      with:
        context: api
        push: true
        tags: yaront111/hiredscorehw123-api:latest

    # Build and push Queue Docker image
    - name: Build and push Queue image
      uses: docker/build-push-action@v2
      with:
        context: order_queue
        push: true
        tags: yaront111/hiredscorehw123-queue:latest
